#wpcontent select option {
	padding-right: 5px;
}
#milly-layouts td {
	padding-top: 15px;
}
#milly-layouts label {
	display: block;
	float: left;
	margin: 0 20px 20px 2px;
	min-width: ;
	position: relative;
}
#milly-layouts input {
	margin: 0 0 10px;
}
#milly-layouts span {
	display: block;
	width: 136px;
}
#milly-layouts img {
	margin: 0 0 0 -2px;
}
